.platform, .ball, .line, .score, .shadowBall {
	position: fixed;
}
.platform, .ball {
	background-color: white;
}
.playground {
	background-color: black;
}
body {
	margin: 0px;
}
.line, .sb1 {
	background-color: #616161;
}
.score {
	color: #616161;
	text-align: center;
}
.sb2 {
	background-color: #404040;
}
.sb3 {
	background-color: #2b2b2b;
}